<%= render 'layouts/shared/admin/heading', heading: 'Pages', small: 'New' %>

<ul class="nav nav-tabs ml-auto">
  <li class="nav-item"><a class="nav-link active" href="#form" data-toggle="tab">Form</a></li>
  <li class="nav-item"><a class="nav-link" href="#advanced" data-toggle="tab">Advanced</a></li>
  <li class="nav-item"><a class="nav-link" href="#metadata" data-toggle="tab">Metadata</a></li>
</ul>

<div class='row'>
  <div class="col-12">
    <div class="panel panel-form panel-default">
      <div class="panel-body">
        <%= simple_form_for [:admin, page] do |f| %>
        <%= render 'layouts/shared/admin/errors', object: f.object %>

        <div class="tab-content">
          <div class="tab-pane active" id="form">
            <%= render 'form', f: f, page: page, pages: pages %>
          </div>
          <div class="tab-pane" id="advanced">
            <%= render 'advanced', f: f %>
          </div>
          <div class="tab-pane" id="metadata">
            <%= render 'layouts/shared/admin/metadatable', f: f %>
          </div>
        </div>

        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <%- end %>
      </div>
    </div>
  </div>
</div>
