<div class='<%= klass %>' id="<%= content_item.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>
        <%= content_item.name %>
        <small>
          <span class='pull-right'>
            <i class='fa fa-arrows-v handle' aria-hidden='true'></i>
            |
            <%= link_to edit_admin_page_shelf_content_item_path(content_item, shelf_id: content_item.shelf_id, page_id: content_item.shelf.page_id),
                        title: 'Edit item',
                        remote: true,
                        data: {
                          'display-in-modal': true
                        } do %>
              <i class='fa fa-pencil' aria-hidden='true'></i>
            <%- end %>
            |
            <%= link_to admin_page_shelf_content_item_path(content_item, shelf_id: content_item.shelf_id, page_id: content_item.shelf.page_id),
                        title: 'Delete item',
                        remote: true,
                        method: :delete,
                        confirm: "Are you sure?" do %>
              <i class='fa fa-trash' aria-hidden='true'></i>
            <%- end %>
          </span>
        </small>
      </h5>
      <p>
        <%= content_item.content %>
      </p>
    </div>
  </div>
</div>
