<%= render 'layouts/shared/admin/heading', heading: 'Users', small: 'All', create_link: true %>

<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead>
        <th>Email</th>
        <th>Role</th>
        <th>Login count</th>
        <th>Created at</th>
        <th></th>
      </thead>
      <tbody>
        <%- users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role_list %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.created_at.to_s(:date) %></td>
          <td>
            <%= link_to "Edit", edit_admin_user_path(user) %>
          </td>
        </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>
