<%= render 'layouts/shared/admin/heading', heading: 'Sites', small: 'All', create_link: true %>

<div class="row">
  <div class="col-12">
    <%- if sites.blank? %>
    <h5 class="text-center oops">
      Oops!
      <small class="text-muted">There are no sites to display, why not <%= link_to "create one", new_admin_site_path %>?</small>
    </h5>
    <%- else %>
    <table class="table table-bordered table-hover">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Created at</th>
        <th></th>
      </thead>
      <tbody>
        <%- sites.each do |element| %>
        <tr>
          <td><%= element.name %></td>
          <td><%= element.description %></td>
          <td><%= element.created_at.to_s(:date) %></td>
          <td>
            <%= link_to "Edit", edit_admin_site_path(element) %>
            <%= link_to "Delete", admin_site_path(element), method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
        <%- end %>
      </tbody>
    </table>
    <%- end %>
  </div>
</div>
